{#Password Reset Complate Template#}

{% extends 'index.html' %}

{% block nav %}
{% endblock nav %}
{% block search %}
{% endblock search %}
{% block content %}

    <div class="container">
        <div style="margin-bottom: 15%; margin-top:20%;" class="d-flex flex-column">
            <p style="font-size: 30px;" class="m-auto">Your password has been reset.</p><br>
            <p class="m-auto">You may go ahead and <a
                    href="{% url 'account:login' %}"><b>Log in</b></a> now.</p>
        </div>
    </div>
{% block footer %}
{% endblock footer %}
{% endblock %}