{% extends 'index.html' %}

{% block nav %}
{% endblock nav %}
{% block search %}
{% endblock search %}
{% block content %}
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <div class="page-title lb single-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h2>About us
                        <small class="hidden-xs-down hidden-sm-down">Everyone Wants To Know This, So Real And Get To
                            Know
                            Us Better</small></h2>
                </div><!-- end col -->
                <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'trendsup:index' %}">Home</a></li>
                        <li class="breadcrumb-item active">About</li>
                    </ol>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end page-title -->
    <div style="margin:5% 5%;">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8" style="text-align: justify">
                <p><b>TrendsUp</b> is a website which is dedicated to provide the users with the information regarding
                    what is trending out there. The system lets you explore what is trending. It provides information
                    regarding various topics such as technology, movies, sports etc.
                    It’s a product for the enthusiasts to read and share about the latest trends which they like.</p>
                <p>The system will be showcasing the latest trends in various fields. The user can also share various
                    articles to their Facebook profiles. Apart from this there will be various professional
                    authors writing articles about latest trends in their respective fields. Also, user’s can also
                    submit articles which will be peer reviewed and will be submitted or added to the system if it gets
                    validated by professionals.
                <p>
                    Users can login to the website if they have already registered first.
                    Users can also have discussions with professionals and other users and share his/her opinions.</p>

                <h3>OBJECTIVE</h3>
                <p>One of the main objectives of the proposed system is to keep the users of the system up-to-date with
                    the latest trends in various fields such as entertainment, gadgets etc.</p>
                <p>The goal is to share knowledge which could be valuable to many people and is currently only available
                    to a few- either locked in people’s heads, or only accessible to professionals.
                </p>
                <h3>Other objectives of system are:</h3>
                <ul>
                    <li>Keeping the user updated with the latest trends.</li>
                    <li>Increasing the knowledge and skill set of the system user.</li>
                    <li>To be helpful to students in their education in various fields.</li>
                    <li>To provide fresh and up-to-date information to the users.</li>
                    <li>To provide quality content to the user.</li>
                    <li>To maintain a standard and structured website.</li>
                    <li>Provides an opportunity for people to learn from each other.</li>
                    <li>To provide an attractive and user-friendly GUI.</li>
                    <li>Being a single place to find all the information.</li>
                    <li>To be a free of cost information sharing website.</li>
                    <li>To share the reviewed and reliable information to the users.</li>
                </ul>
                <p>It is a website which allows users to be up-to-date with the latest trends in various fields..
                    User can browse through various categories and can read articles related to the selected
                    category.</p>
                <p>In this, we propose that rather than subscribing to an monthly or quarterly pack, user just have to
                    register first and then he/she can read articles that are available on the proposed system and share
                    his/her opinions about the articles, Also the users can ask questions, if any, to the author of the
                    articles or to other users, which is a privilege not provided in the conventional systems. </p>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>


{% endblock content %}