{#Change Passsword Template#}

{% extends 'index.html' %}

{% block nav %}
{% endblock nav %}
{% block search %}
{% endblock search %}

{% block content %}
<style type="text/css">
    td{
        padding: 10px;
    }
</style>

<div style="margin-bottom: 5%; margin-top: 8%;" align="center" class="container">
    <h3 style="margin-bottom: 4%;">Change Password</h3>
    <form method="post" action="{% url 'account:change_password_done' %}">
        {% csrf_token %}
            <table>
                <tr>
                    <td><b>Old Password:</b></td>
                    <td>{{ form.old_password }}</td>
                </tr>

                <tr>
                    <td><b>New Password:</b></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>

                <tr>
                    <td><b>Confirm Password:</b></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>




            </table>
        <br>
        <button class=" btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
    <br>
</div>
{% endblock content %}
